@import "../../BaseStyles.scss";

.ticks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 166px;
  &.rightTicks {
    margin-left: 18px;
    align-items: baseline;
    .tick {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &.leftTicks {
    margin-right: 18px;
    align-items: flex-end;
    .tick {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}

.tick {
  display: flex;
  align-items: center;
  gap: 14px;

  .tickLine {
    border-bottom: 2px solid $light-yellow;
    width: 10px;
  }

  .tickLineWithLabel {
    border-bottom: 2px solid $light-yellow;
    width: 16px;
  }

  .tickLabel {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $white;
  }

  &.labeled .tickLine {
    border-bottom-width: 3px;
  }
}
