@import "../../BaseStyles.scss";

.sliderOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  .sliderContainer {
    display: flex;
    align-items: center;
    .slider {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      &[type="range"],
      &[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &[type="range"] {
        background-color: #00000060;
        display: block;
        padding: 0 0.1em;
        width: 5px;
        height: 124px;
        border-radius: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      &[type="range"]::-webkit-slider-thumb {
        z-index: 1;
        -webkit-appearance: none;
        // background-image: url("../../assets/fader-center.png");
        background-size: contain;
        width: 21px;
        aspect-ratio: 1/2;
        background-repeat: no-repeat;
        filter: drop-shadow(8px 2px 7px #00000099);
      }
      &.slider-0 {
        &[type="range"]::-webkit-slider-thumb {
          background-image: url("../../assets/fader-left.png");
        }
      }
      &.slider-1, &.slider-2 {
        &[type="range"]::-webkit-slider-thumb {
          background-image: url("../../assets/fader-center.png");
        }
      }
      &.slider-1 {
        &[type="range"]::-webkit-slider-thumb {
          margin-left: 2px;
        }
      }
      &.slider-3 {
        &[type="range"]::-webkit-slider-thumb {
          background-image: url("../../assets/fader-right.png");
        }
      }
    }

    .ticks {
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 97px;
      font-weight: 300;
      &.rightTicks {
        margin-left: 10px;
        align-items: baseline;
        .tick {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      &.leftTicks {
        margin-right: 10px;
        align-items: flex-end;
        .tick {
          flex-direction: row-reverse;
          justify-content: flex-end;
        }
      }

      .tick {
        display: flex;
        align-items: center;
        gap: 14px;

        .tickLine {
          border-bottom: 1px solid $white;
          opacity: 0.65;
          width: 8px;
        }

        .tickLineWithLabel {
          border-bottom: 1px solid $white;
          opacity: 0.65;
          width: 14px;
        }

        .tickLabel {
          font-family: $poppins;
          color: $white;
          font-size: 10px;
          font-weight: 300;
          opacity: 0.80;
        }

        &.labeled .tickLine {
          border-bottom-width: 3px;
        }
      }
    }
  }
  .sliderValue {
    width: 170px;
    font-size: 12px;
    color: #fff59d;
    margin: 0;
    font-weight: 300;
    span {
      font-weight: 700;
      color: #fb8c00;
    }
  }
  //revisit //important //idea slider 3D pov mods
  &:first-of-type .sliderContainer .slider {
    &[type="range"] {
      box-shadow: 0.12em 0 0.1em #ffffff50 inset, -0.4em 0.25em 0.2em #00000080 inset,
        0 -0.25em 0.2em #00000070 inset;
    }
  }

  &:nth-of-type(2) .sliderContainer .slider {
    &[type="range"] {
      box-shadow: 0.07em 0 0.08em #ffffff50 inset, -0.6em 0.25em 0.17em #00000080 inset,
        0 -0.3em 0.2em #00000070 inset;
    }
  }

  &:nth-of-type(3) .sliderContainer .slider {
    &[type="range"] {
      box-shadow: -0.07em 0 0.08em #ffffff50 inset, 0.6em 0.25em 0.17em #00000080 inset,
      0 -0.3em 0.2em #00000070 inset;
    }
  }
  &:last-of-type .sliderContainer .slider {
    &[type="range"] {
      box-shadow: -0.12em 0 0.1em #ffffff50 inset, 0.4em 0.25em 0.2em #00000080 inset,
        0 -0.25em 0.2em #00000070 inset;
    }
  }
}
