.homeWrapper {
  min-height: 100vh;
  text-align: center;
  background-color: #292c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  h4 {
    font-size: clamp(1em, 2vw, 1.5em);
    color: #FFF59D;
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 700;
    }
  }
  .slider {
    //orient vertically
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 200px;
    &[type="range"],
    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &[type="range"] {
        appearance: none;
      width: 1em;
      background: #ffffff30;
      outline: transparent;
      cursor: pointer;
      box-shadow: inset 2px 0 5px #000000, inset -3px 0 5px #FFFFFF;
      border-radius: 1.5rem;
    }
    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-image: url("../assets/slider-ph.png");
      background-size: contain;
      width: 30px;
      aspect-ratio: 1/2;
      background-repeat: no-repeat;
      filter: drop-shadow(4px 2px 6px #00000095);
    }
  }
  .headline {
    font-size: clamp(2em, 5vw, 3em);
    color: #ffffff;
    margin: 0;
  }
  .backLink {
    font-size: clamp(1em, 2vw, 1.5em);
    text-decoration: none;
    color: #61dafb;
    &:visited {
      color: #61dafb;
    }
    &:hover {
      color: #ffffff;
    }
  }
}
