@import "../BaseStyles.scss";

.bulbBodyWrapper {
    width: 95vw;
    height: 80vh;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;
  .bulbContainer {
    z-index: 100;
    position: relative;
    width: clamp(180px, 18%, 240px);
    .bulb {
      position: absolute;
      width: 100%;
      inset: 0;
      &.bulbOn {
        opacity: 0;
      }
    }
  }
}
