@import "../BaseStyles.scss";

.bulbBodyWrapper {
    width: 95vw;
    margin-left: 5px;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;
  .bulbContainer {
    z-index: 100;
    position: relative;
    width: 18%;
    .bulb {
      position: absolute;
      width: 100%;
      inset: 0;
      &.bulbOn {
        opacity: 0;
      }
    }
  }
}
