@import "../BaseStyles.scss";

.aboutBulbContentWrapper {
    container-type: inline-size;
    position: absolute;
    inset: auto 0 24vh;
    margin: auto auto auto calc(-170px + 28vw);
    width: clamp(230px, 43vw, 500px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  .aboutMeTitle {
    font-family: $poppins;
    font-size: clamp(1.5rem, 10cqi, 2.5rem);
    font-weight: 700;
    color: $white;
    text-shadow: 0px 0px 10px #000000;
    margin-block: 0.15em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  .aboutMeText {
    font-family: $poppins;
    line-height: 1.25em;
    font-size: clamp(15px, 6cqi, 18px);
    font-weight: 400;
    color: $white;
    text-shadow: 0px 0px 10px #000000;
    margin-block: 0;
  }
}
