// Color scheme variables
$white: #FFFFFF;
$red: #E53935;
$orange: #FB8C00;
$light-yellow: #FFF59D;
$yellow: #FFEB3B;
$react-blue: #61DAFB;
$cyan: #00BCD4;
$teal: #00695C;
$dark-grey: #37474F;
$react-grey: #292C33;
$black: #000000;