.tempHome {
  text-align: center;
  .tempHomeHeader {
    background-color: #292c33;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    .tempHomeLogo {
      width: clamp(260px, 30vw, 540px);
      animation: tempHomeLogoSpin infinite 20000ms linear;
    }
  }
}

@keyframes tempHomeLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
